<form [formGroup] = "add" (ngSubmit)="addOwner()">
    <div>
        <input type="text" formControlName="vatNumber" placeholder="Vat Number">
    </div>

    <div>
        <input type="text" formControlName="name" placeholder="First Name">
    </div>

    <div>
        <input type="text" formControlName="surname" placeholder="Last Name">
    </div>

    <div>
        <input type="text" formControlName="address" placeholder="Address">
    </div>

    <div>
        <input type="text" formControlName="phoneNumber" placeholder="Phone Number">
    </div>

    <div>
        <input type="text" formControlName="email" placeholder="Email">
    </div>

    <div>
        <input type="password" formControlName="password" placeholder="Password">
    </div>


    <button [disabled]="add.invalid">Submit</button>
</form>

<button (click)="showOwnerById()">Show Owner with ID 1</button>

<div *ngIf="ownerById">
    <p>Owner ID: {{ ownerById.id }}</p>
    <p>Name: {{ ownerById.name }}</p>
    <p>Surname: {{ ownerById.surname }}</p>
    <p>Address: {{ ownerById.address }}</p>
    <p>Email: {{ ownerById.email }}</p>
</div>