
<h3> Owner with id=1 </h3>

<br>
<div *ngIf="ownerById">
    <p>Owner ID: {{ ownerById.ownerId }}</p>
    <p>Name: {{ ownerById.name }}</p>
    <p>Surname: {{ ownerById.surname }}</p>
    <p>Address: {{ ownerById.address }}</p>
    <p>Email: {{ ownerById.email }}</p>
    <div>
        <a href="/edit/{{ ownerById.ownerId }}">Edit Owner</a>
    </div>
    <br>
    <div>
        <button (click)="deleteOwner(ownerById.ownerId)">Delete Owner</button>  
    </div>
</div>

<div *ngIf="!ownerById">
    <p>No owner data available.</p>
</div>


