<div>
  <img src="/Untitled design.png" alt="My Logo" class="app-image"> 
</div>

<nav>
    <ul>
      <li><a [routerLink]="['home']" routerLinkActive="active">Home</a></li>
      <br>Owner
      <li><a [routerLink]="['add']" routerLinkActive="active">Sign in</a></li>
      <br>Admin
      <li><a [routerLink]="['owner/1']" routerLinkActive="active">Show owner with id=1</a></li>
      <li><a [routerLink]="['property/properties']" routerLinkActive="active">Show properties</a></li>
    </ul>
  </nav>
  

<router-outlet></router-outlet>